.body-info-pet {
    display: flex;
}
.body-info-pet ul,
.articles-list__item-text .col-lg-12 ul {
    width: 100%;
}
.body-info-pet ul li,
.articles-list__item-text .col-lg-12 ul li {
    display: flex;
    justify-content: space-between;
}
.body-info-pet .clearfix,
.articles-list__item-text .col-lg-12 .clearfix {
    display: none;
}
.wiki__content .article__img {
    width: 40%;
}
.wiki__content .article {
    max-width: 100%;
}
.wiki__aside .articles-list__item {
    width: 94%;
}
.wiki__aside .articles-list__item-img {
    display: table;
    text-align: center;
}
.wiki__aside .articles-list__item-img img {
    position: inherit;
}
.articles-list__item a:focus, a:hover {
    text-decoration: none !important;
}
.article__text .col-lg-9 {
    float: left;
    width: 100% !important;
}
.wiki__content .inner-page__content {
    width: 100%;
    padding: 0px 0px;
    margin-top: 0px;
}
.wiki__content .tab-content {
    margin-left: 0px;
    margin-right: 0px;
}
.wiki__content .content-appear {
    padding: 0px !important;
}
.wiki__content .article__title {
    text-align: center;
    margin-bottom: 15px;
}
.articles-list__item-title a {
    color: #edd78a;
}
.articles-list__item-title a:not([href]):not([tabindex]) {
    color: #edd78a;
}
.body-info-pet ul li, .articles-list__item-text .col-lg-12 ul li span {
    text-align: left;
}
.wiki__content .articles-list__content.flex-ss a {
    margin: 15px auto;
}
.wiki .active {
    color: #f7bf66;
}
.wiki__aside-group-title img,
.wiki__aside-group-item img {
    margin-right: 15px;
}
.wiki__aside-group-item img {
    width: 32px;
}
.wiki__aside-group-items {
    padding-left: 0px;
}
.chains {
    display: flex;
    justify-content: space-evenly;
}
.wiki__content .articles-list__item-img {
    display: flex;
    justify-content: center;
}
.wiki__content .articles-list__item-img img {
    position: inherit;
    width: auto;
    height: 90%;
}
.wiki__content .articles-list__item-title {
    font-size: 13px;
}
.wiki__content .articles-list__content.flex-ss .articles-list__item-text > ul > li {
    display: flex;
    justify-content: space-between;
}
.wiki__content .articles-list__item-text {
    height: 145px;
}
.wiki__content .articles-list__content.flex-ss .articles-list__item-text > ul > li > a {
    margin: 0;
}
.wiki .wiki__content .row {
    padding: 0;
}
.wiki .wiki__content .morph-card-info h4 a {
    color: #d3af62;
}
.wiki .wiki__content .morph-card-info h4 a:hover {
    color: #ffcc00;
}
a.wiki-title:hover {
    color: #d7b263;
}
.wiki .wiki__content .header-page > ul,
.wiki .wiki__content .text-box .breadcrumb-top .col-lg-12 > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.wiki .wiki__content .text-box .breadcrumb-top .items-tables > ul {
    flex-direction: column;
}
.btn-success {
    color: #fff !important;
    background-color: #181818 !important;
    border-color: #000000 !important;
    padding: 15px !important;
}
.btn-success:hover {
    background-color: #000000 !important;
}
.modal-backdrop {
    z-index: 1 !important;
}
.wrapper--wiki {
    z-index: 10;
}
.wiki .wiki__content > div:nth-child(2) > div > article > div.article__text.text-box > div > div > div:nth-child(3) > ul > li > a {
    color: #d3af62 !important;
}
.wiki .wiki__content > div:nth-child(2) > div > article > div.article__text.text-box > div > div > div:nth-child(3) > ul > li > a:hover {
    color: #ffcc00 !important;
}
.layout-symbol-group {
    padding-bottom: 15px !important;
    margin-top: 42px !important;
}
.wiki .wiki__content .symbol-abb-link {
    color: #d3af62;
}
.wiki .wiki__content .symbol-abb-link:hover {
    color: #ffcc00;
}
.wiki .wiki__content .layout-symbol-group {
    align-items: inherit;
}
.wiki .wiki__content .layout-symbol-group .layout-symbol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wiki .wiki__content .layout-symbol-group .layout-symbol a:hover {
    color: #d3af62 !important;
}
.articles-list .pagination {
    padding-left: 28px !important;
}
.slick-prev:before, .slick-next:before {
    color: #6e6c6d !important;
}
.form-control {
    color: #55595c !important;
    background-color: #16120b !important;
    border: 1px solid #362d25 !important;
}
.btn.paginate_button a {
    text-decoration: none !important;
}
.btn.paginate_button.active a {
    color: #d3af62 !important;
}
.btn.paginate_button:hover a {
    color: #d3af62 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.active {
    background-color: black !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: black !important;
}
.base-item-icon {
    max-width: 50px;
    height: 100%;
}
.item-location ul.pagination li {
    padding: 8px !important;
}
.item-location .functional-table-list,
.item-location .functional-table-filter,
.item-location .top-pagination {
    display: none;
}
.item-location .pg-bottom {
    width: 100% !important;
}
.item-location .mobs-list > thead > tr {
    display: none;
}
.craft-trees .craft-lines {
    display: flex;
    align-items: center;
    max-height: 120px;
}
.craft-trees .craft-sublines {
    margin-top: 105px !important;
    margin-left: -80px;
    padding-right: 0px;
    width: 81px;
}
.pet-detail .craft-trees .vert-sepor-long {
    height: 89px !important;
    bottom: -82px !important;
}
.item-blessed {
    /*filter: hue-rotate(223deg) brightness(150%);*/
    background-color: rgba(176, 185, 26, 0.20);
}
.item-damn {
    /*filter: hue-rotate(145deg);*/
    background-color: rgba(183, 33, 33, 0.20);
}
.catalog-item {
    text-decoration: none !important;
    margin-right: -4px !important;
}
.catalog-item .base-item-icon {
    margin-right: -4px !important;
    transform: translateY(1px);
}

.catalog-item .base-item-icon-name {
    margin-right: 0px !important;
    transform: translateY(1px);
}

.post-footer,
.blog-content-page .post-header {
    display: none;
}
.reader__item a,
.sub-item-link,
.blog-content-page a{
    text-decoration: none !important;
}
.pagination .paginate_button {
    padding: 8px !important;
}

.info-description > tbody > tr > td > ul > li:nth-child(5) {
    display: none;
}
.text-box {
    margin-top: 40px !important;
}
.wiki .blog-content-page .items-tables {
    margin-top: -6px !important;
}

.spoiler .text-box{
    margin-top: 0px !important;
}

.craft-trees .item-other-status {
    margin: 4px 15px 5px 15px !important;
}
.craft-tables .item-other-status {
    margin: 8px 13px 8px 12px !important;
}
.wiki__content .category-description {
    color: white;
    padding-left: 65px !important;
    padding-right: 65px !important;
    text-align: justify !important;
}
.wiki__content .article__text .line-merger .col-lg-3.col-md-3.col-xs-6 a img {
    width: 152px !important;
    max-width: 152px !important;
}
.wiki__aside-nogroup-title {
    width: 100%;
    padding: 15px 20px;
    font-family: "Lato";
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    color: #e9dac2;
    cursor: pointer;
    -webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    border-bottom: 1px solid #241f1a;
    position: relative;
}
.wiki__aside-nogroup-title:hover {
    color: #f7bf66;
    background-color: #241f1a;
}
#post-content > table > tbody > tr:last-child > td:nth-child(2) {
    border-bottom: 1px solid #4d443c;
}

.invert-sepor-long {
    bottom: 55px !important;
}

/* NEW */

.wiki li img{
    vertical-align: unset;
}

.wiki li img[align=top]{
    vertical-align: top;
    transform: translateY(5px);
}

.wiki li img[align=middle]{
    vertical-align: middle;
    transform: translateY(-2px);
}

.wiki li img[align=bottom]{
    vertical-align: unset;
}


.wiki ul:not(.nav-tabs) > li{
    list-style-type: disc;
}

.wiki ul:not(.nav-tabs) > li::marker{
    color: #ffd477;
}

.info-description li{
    list-style-type: inherit !important;
}

.info-description li::marker{
    color: inherit !important;
}

hr {
    border-top: 1px solid #4d443c !important;
}

blockquote{
    padding: 10px;
    background-color: #302922 !important;
    border: 1px solid #4d443c;
    border-left: 3px solid #ffd477;
    font-style: italic;
}

table:not(.info-description):not(.not-bordered){
    border: 1px solid #4d443c;
    border-bottom: 1px solid #4d443c !important;
}

.nav-tabs {
    border-bottom: 1px solid #4d443c !important;
    padding-left: 0px !important;
}

.nav-tabs .nav-item{
    margin-bottom: 0px !important;
}

table tbody{
    border-bottom: none !important;
}

table tr.tr-odd td{
    background-color: #201b17;
}

table tr.tr-even td{
    background-color: #2c2620;
}

table tr.tr-alt-odd td{
    background-color: #231e19;
}

table tr.tr-alt-even td{
    background-color: #302922;
}

table tr.tr-header td{
    text-align: center;
    color: #d7b263;
}

table.not-bordered{
    border: none !important;
}
table.not-bordered tr{
    border: none !important;
}
table.not-bordered tr td{
    border: none !important;
}

.catalog-item {
    display: inline-flex;
    align-items: flex-end;
}

.catalog-item .main-icon-item {
    width: auto;
    height: auto;
    padding: 1px 0px 1px 0px !important;
}

.catalog-item span {
    margin-right: 5px;
}

.catalog-item .item-text {
    margin-right: 1px;
}

.wiki-page__title {
    margin-bottom: 40px;
}
.wiki .catalog {
    margin-top: 32px !important;
}
.wiki #page-content {
    margin-top: 62px;
}
.wiki .text-box .location-detail {
    margin-top: 52px;
}
.wiki .text-box .blog-content-page {
    margin-top: 18px;
}
.wiki .text-box .pet-main-tabs .nav-tabs {
    margin-top: -13px;
}
.wiki .breadcrumb {
    background: none !important;
}
